# Ignore everything
*

# Ignore additional
.Rhistory
.RData
.Ruserdata

# Keep repository files
!.gitignore
!README.md
!Case-Study-Mortgages.ipynb

# Future presentation
!Case-Study-Mortgages.pdf
!Case-Study-Mortgages.pptx